
#text,#textContainer,#startPrompt
{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}

#fileInput
{
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
}
#textContainer
{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1000px;
}
#text
{
    font-size: 250%;
}

#fileInput
{
    width:250px;
position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
#areaText
{
    height: 115px;
    width: 200px;
    border-radius: 5%;
    resize: none;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
#controls
{
    width:250px;
    position: absolute;
        top:55%;
        left:50%;
        transform: translate(-50%,-50%);
        
}


#bodyMode {
    background-color: #ffffff;
    color: #000000;
}
@media (prefers-color-scheme: dark) {
    #bodyMode {
        background-color: black;
        color: white;
    }
}

#startPrompt
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);   
}


#toggleMode{
    position: relative;
    width: 50px; 
    height: 50px; 
    border-radius: 15px;
    cursor: pointer;
    left:95%;
}

#toggleBox {
    position: relative;
    width: 50px; 
    height: 100px; 
    border-radius: 15px;
    border: none;
    outline: none; 
    cursor: pointer;
    left:90%;

}


#index
{
    position: absolute;
    top:65%;
    left : 85%;
    transform: translate(-50%,-50%);
}

#indexCurrent
{
    display: inline-block;
}

#wpm
{
    position: absolute;
    top:-25%;
    left:25%;
    transform: translate(-50%,-50%);
}

#numField
{
    width:40px;
    height: 20px;
}

#sub
{
width: 55px;
position: absolute;
top:200%;
left:50%;
transform: translate(-50%,-50%);
}

#fileSub
{
width: 55px;
position: absolute;
top:150%;
left:50%;
transform: translate(-50%,-50%);
}

#start
{
width: 55px;
height: 30px;
position: absolute;
top:140%;
left:20%;
transform: translate(-50%,-50%);
}

#pause
{
    width: 65px;
    height: 30px;
    position: absolute;
    top:140%;
    left:50%;
    transform: translate(-50%,-50%);
}
#stop
{
    width: 50px;
    height: 30px;
    position: absolute;
    top:140%;
    left:80%;
    transform: translate(-50%,-50%);  
}

#wordCount
{
    display: inline-block;
}

label {
    display: block; 
    margin-bottom: 5px; 
}

#goTo
{
 margin-top: 15px;
 margin-left: 30px;
}

#indexIn
{
    width:100px;
}
#progress
{
    display:inline-block;
}
#container
{
    border: 2px;
}
