
#text,#textContainer,#fileInput,#startPrompt
{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}

#text{
    font-size: 250%;
}

#fileInput
{
position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* Light mode styles */
#bodyMode {
    background-color: #ffffff;
    color: #000000;
}
@media (prefers-color-scheme: dark) {
    #bodyMode {
        background-color: black;
        color: white;
    }
}

#startPrompt
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);   
}

/* Dark mode styles */

#toggleMode{
    position: relative;
    width: 50px; 
    height: 50px; 
    border-radius: 15px;
    cursor: pointer;
    left:95%;
}

#toggleBox {
    position: relative;
    width: 50px; 
    height: 100px; 
    border-radius: 15px;
    border: none;
    outline: none; 
    cursor: pointer;
    left:90%;

}

#areaText
{
    height: 100px;
    width: 150px;
    border-radius: 5%;
    
}


#wpm
{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}

#numfield
{
    width: px;
}

#sub
{

}
